/***** BC Red Advanced *****/

/* === Theme Notes ===
@theme-type: general use
@banner-style: v1-full-bg
@info-bar: v2-transparent
*/

/* === Core Theme Settings === */

#kl_wrapper_3.kl_bc {

/* Base Colors */
--dt-primary: #5B1415;
--dt-secondary: #726158;
--dt-bright: #8a100b;
--dt-link-on-white: #5B1415;
  
/* Banner Background */
--home-banner-bg: linear-gradient(121deg, rgba(0,0,0, .3) 0%, rgba(0,0,0,0.3) 25%, rgba(0,0,0,.2) 90%), url('https://cte.bc.edu/canvas/themes/bc-general/bc-bg-home.jpg') no-repeat left top;
 
/* Homepage Logo */
--logo-bg: url('https://cte.bc.edu/canvas/themes/bc-general/bc-logo.png') no-repeat left center;

/* Homepage Course Title */
--course-title-style: uppercase;
--course-title-size: var(--text-2xl);
--course-title-text-shadow: var(--text-shadow-1);

/* Banner Font */
--banner-font-family: "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

 /*Module Banner Background */
 --module-banner-bg: var(--dt-primary);
}

/* === Custom Theme Styles === */

#kl_wrapper_3.kl_bc.home #kl_description {
  color: #dccaa0;
  font-weight: bold;
  font-size: var(--text-md);
  text-shadow: var(--text-shadow-1);
} 

#kl_wrapper_3.kl_bc h3,
#kl_wrapper_3.kl_bc >div>h3:not(.ui-state-default) {
  border-bottom: none;
}